/*SEARCH RESULT PAGE STYLES*/


.mini-search {
    /*  position: absolute;
        left: 110px;
        top: 60px;
        width: 90%;*/
    }
        .find-candidate-mini:before,
        .find-candidate-mini:after {
            content: " ";
            display: table
        }

        .find-candidate-mini:after {
            clear: both
        }

        .find-candidate-mini .form-group {
            float: left;
            margin-left: 15px;
            width: 36%
        }

        .find-candidate-mini .form-group:first-child {
            margin-left: 0
        }

        .find-candidate-mini .form-group span {
            background-color: #32c0ec;
            width: 45px;
            height: 45px;
            float: left;
            text-align: center;
            padding-top: 14px
        }

        .find-candidate-mini .form-group i {
            color: #fff;
            font-size: 14px
        }

        .find-candidate-mini .form-group input {
            float: left;
            border: none;
            outline: 0;
            width: calc(100% - 45px);
            height: 45px;
            padding-left: 15px;
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            color: #9e9e9e
        }

        .find-candidate-mini .form-group.btn-search {
            margin-left: 0;
            width: 21%;
            position: relative
        }

        .find-candidate-mini .form-group.btn-search i {
            position: absolute;
            top: 15px;
            left: 21px;
            z-index: 2
        }

        .find-candidate-mini .form-group::-webkit-input-placeholder {
            color: #9e9e9e;
            font-style: italic;
            font-family: 'Raleway', sans-serif;
            font-weight: 600
        }

        .find-candidate-mini .form-group::-moz-placeholder {
            color: #9e9e9e;
            font-style: italic;
            font-family: 'Raleway', sans-serif;
            font-weight: 600
        }

        .find-candidate-mini .form-group:-ms-input-placeholder {
            color: #9e9e9e;
            font-style: italic;
            font-family: 'Raleway', sans-serif;
            font-weight: 600
        }

        .find-candidate-mini .form-group:-moz-placeholder {
            color: #9e9e9e;
            font-style: italic;
            font-family: 'Raleway', sans-serif;
            font-weight: 600
        }

        @media (max-width: 768px) {
    
            .banner-parent figcaption .find-candidate-mini .form-group {
                width: 100%;
                margin-left: 0;
                margin-bottom: 3px
            }
            .banner-parent figcaption .find-candidate-mini .form-group.btn-search i {
                left: -80px;
                z-index: 2;
                right: 0
            }
            .banner-parent figcaption .find-candidate-mini .form-group.btn-search input {
                width: 100%;
                text-align: center;
                padding-left: 0 !important
            }

            .find-candidate-mini .form-group input {
                border-bottom: 1px solid #32c0ec !important;
                margin: 0 0 10px 0;
            }
        }

        .bg-primary-custom {
            background-color: #32C0EC;
        }

        .color-yellow {
            color: #FFEE03;
        }

        .card-img-top-custom {
            width: 30%;
            border-top-left-radius: calc(.25rem - 1px);
            border-top-right-radius: calc(.25rem - 1px);
            margin: 19px auto 0;
        }
        .status-circle {
            background-color: #afafaf;
            width: 20px;
            height: 20px;
            border-radius: 100px;
            position: absolute;
            right: 35%;
            top: 5%;
            border: 2px solid #fff;
        }

        .status-circle.green {
            background-color: #A8EC32;
        }
        .card-title-blue {
            color: #32C0EC;
            font-weight: bold;
        }
        .joppler-box {
            width: 100%;
            position: relative;
            /*background: grey;*/
            padding: 6px 0;
        }
        .joppler-badge {
            background-repeat: no-repeat;
            background-position: center;
            height: 33px;
            width: 27px;
            background-size: cover;
            display: inline-block;
            margin: 0 auto;
        }
        .joppler-badge span.figure {
            margin: 9px 0 0 0;
            color: #fff;
            font-size: 13px;
            font-weight: bold;
        }

        .joppler-badge.orange {
            background-image: url(img/joppler-orange.png);
        }
        .joppler-badge.blue {
            background-image: url(img/joppler-blue.png);
        }
        .joppler-badge.green {
            background-image: url(img/joppler-green.png);
        }

        .star {
            display: inline-block;
            width: 15x;
        }

        .card-deck .card {
            box-shadow: 0 0 7px #00000033;
        }
/*SEARCH RESULT PAGE STYLES*/